/* .person {
    width: 100%;
    background: #fff;
    border: 1px solid #eeee;
    padding:10px 0 20px;
    margin-bottom: 10px;
    border-radius: 4px;
} */

.person label {
    color: darkslategray;
    font-size: 16px;
    margin-right: 5px;
}

.person input {
    padding: 7px 10px;
    outline: 0;
    font-size: 12px;
    border: 1px solid #eee;
    border-radius: 4px;
    color: darkslategray;
    min-width: 150px;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}